HTTP/2 Cookie Header Joining With Commas  Or Semicolons ?

When using Granian with --http 2 (HTTP/2) and a WSGI app, multiple cookies sent by the client are joined with commas
But  using Granian with --http 1 (HTTP/1.1) and a WSGI app, multiple cookies sent by the client are joined with semicolons
```
def app(environ, start_response):
    start_response('200 OK', [('Content-Type', 'text/html')])
    try:
        cookies = environ["HTTP_COOKIE"]
    except KeyError:
        cookies = ""

    print(f'cookies: {cookies}')

    return ['<html><body>OK</body></html>'.encode()]
```

```
granian --http 2 --ssl-keyfile key.pem --ssl-certificate cert.pem --interface wsgi app:app
curl -v https://localhost:8000 --cookie "a=a; b=b"
cookies: a=a, b=b

granian --http 1 --ssl-keyfile key.pem --ssl-certificate cert.pem --interface wsgi app:app
curl -v http://localhost:8000 --cookie "a=a; b=b"
cookies: a=a; b=b
```

I think that Cookies should always be joined with ; when multiple cookies are present, in accordance with RFC 6265 (Cookie) and RFC 7540 §8.1.2.5 (HTTP/2).